.mainButton {
  font-size: 24px;
  padding: 17px;
  border-radius: 35px;
  background: #67c0da;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.mainButton:hover {
  box-shadow: 0px 0px 20px 5px #d126b277;
}

.mainButton:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 15px 3px #d126b277;
}
