@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&display=swap");

.brand {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px;
  cursor: pointer;
}

.brand label {
  font-size: 40px;
  letter-spacing: 20px;
  font-family: "Istok Web", sans-serif;
  font-style: normal;
  user-select: none;
  cursor: pointer;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;

  z-index: 1000;
  padding: 0 24px;
  transition: all ease-in-out 0.3s;
}

.scrolled {
  background: #0400238f;
}

.brand {
  display: flex;
  align-items: center;
  gap: 18px;
  position: fixed;
}

.brand img {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 65px;
}

.navBar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
  height: 80px;
  align-items: center;
}

.gradientText {
  background: linear-gradient(to bottom, #0080a8 37%, #49b2d3 63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
