@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&display=swap");

.footerContainer {
  width: 100%;
  height: 350px;
  background-color: #0a0c17;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.footerBg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 0;
}
.footerBg img {
  width: 747px;
}
.contentBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-left: -50px;
}

.infoSection {
  display: grid;
  gap: 5px;
  z-index: 1;
  font-family: "Alexandria", sans-serif;
}

.infoSection p {
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.356);
  letter-spacing: 5px;
}

.footerTextName {
  font-size: 40px;
  letter-spacing: 10px;
  font-family: "Istok Web", sans-serif;
  font-style: normal;
  user-select: none;
}

.navSection {
  display: grid;
  gap: 10px;
  margin-top: 20px;
}

.brandContainer label {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.25);
}
