.cardContainer {
  background: #94bcc8;
  width: 500px;
  height: 625px;
  border-radius: 35px;
  color: black;
  display: grid;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.cardContainer:hover {
  transform: scale(0.98);
  box-shadow: 0px 0px 15px 3px #3cc58cb0;
}

.cardContainer:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 15px 5px #3cc58cd4;
}

.imageContainer {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 35px 35px 0 0;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descriptionBlock {
  width: 100%;
  display: grid;
}

.descSection {
  margin: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  overflow: hidden;
}
.descSection h3 {
  font-size: 34px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-top: 20px;
}

.descSection p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.451);
}

.descSection span {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.451);
}

.courseBtnSection {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startText {
  font-size: 35px;
  color: azure;
  background-color: #b0feb13d;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 20px;
  border-radius: 0 0 35px 35px;
}

.startText.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
