@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200..700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  color: white;
  background-color: #01072b;
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
  color: white;
  transition: all ease-in-out 0.3s;
}

a:hover {
  color: #ffffffbd;
}

.page {
  margin-top: 80px;
  display: flex;
  height: 100vh;
  user-select: none;
  justify-content: center;

  padding: 0px 120px;
}

.gradientText {
  background: linear-gradient(to bottom, #0080a8 37%, #49b2d3 63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
